$black: black;
$white: white;
$second-color: rgb(62, 38, 219);
$second-color-hover: rgb(71, 44, 244);
$body-bgc: rgb(11, 9, 32);
$main-bg-color-one: rgb(8, 6, 40);
$main-bg-color-two: rgb(6, 5, 24);
$item-bg-one: rgb(37, 23, 131);
$item-bg-two: rgb(53, 33, 184);
$item-bg-three: rgb(22, 13, 79);