@use "./colors" as *;

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: $body-bgc;
    color: $white;
}

body, button, a, input, option {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
