@use "./colors" as *;

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.quizwrapper {
	margin: 0 auto;
	max-width: 300px;
	width: 100%;
}

.hidden {
	display: none;
	left: -2000px;
}

.body-hidden {
	overflow-y: hidden;
	overflow-x: hidden;
}

.show-nav {
	animation: show-nav 0.5s;
}

.hide-nav {
	animation: hide-nav 0.5s;
}

.hide {
	opacity: 0;
}

.hidden-main {
	display: none;
}

.opacity {
	opacity: 0;
}

.click {
	cursor: pointer;
}

.good-answer {
	background-color: $good-answer;
}

.bad-answer{
	background-color: $bad-answer;
}