@use "./colors" as *;

.header {
	position: fixed;
	width: 100%;
	background-color: $body-bgc;
	z-index: 10000;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 10vh;
	}

	&__logo {
		font-size: 3rem;
		padding: 0 0.25em;
	}

	&__orange {
		color: $second-color;
	}

	&__hamburger {
		z-index: 100;
	}

	&__nav {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: linear-gradient(
			90deg,
			rgba(37, 23, 131, 1) 0%,
			rgba(53, 33, 184, 1) 46%,
			rgba(37, 33, 131, 1) 100%
			);
			z-index: 10;
			transition: left .5s;

		&-pc {
			display: none;
		}
	}

	&__list {
		padding: 0 0.25em;
		font-size: 3.4rem;
		list-style: none;
		text-align: center;

		&-pc {
			display: flex;
			padding: 0 1em;
			list-style: none;
		}
	}

	&__item {
		padding: 0 0.3em;

		&-pc {
			padding: 0 0.3em;
			font-size: 2.4rem;
		}
	}

	&__link, &__link-pc {
		text-decoration: none;
		color: $white;
		transition: color 0.5s;

		&:hover {
			color: $second-color-hover;
		}
	}
}
