@use "./colors" as *;

.main {
	padding-top: 4em;
	background-color: $main-bg-color-one;

	&__section {
		padding: 4em 0;

		&--one {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&--two {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&--color-one {
			background: $main-bg-color-one;
		}

		&--color-two {
			background-color: $main-bg-color-two;
		}

		&--color-three {
			background: $main-bg-color-three;
		}

		&--buy {
			height: calc(100vh - 172px);
		}
	}

	&__buy {
		width: 100%;
	}

	&__buybtn {
		padding: 1em 2em;
		font-size: 2rem;
		text-transform: uppercase;
		border: 0;
		color: white;
		background: $item-bg-one;
		cursor: pointer;
		transition: transform 0.5s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__top {
		display: flex;
		border-bottom: 2px solid $body-bgc;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-color: $second-color;
		overflow: hidden;
	}

	&__middle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1em;
		background-color: $second-color-hover;
	}

	&__left,
	&__right {
		width: 100%;
	}

	&__exchange-left,
	&__exchange-right {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		height: 200px;
		padding: 1em;

		&-value {
			font-size: 2rem;
		}
	}

	&__exchange-left,
	&__exchange-right,
	&__exchange-middle {
		width: 200px;
	}

	&__exchange-middle {
		display: flex;
		justify-content: center;
		align-items: center;

		&-icon {
			font-size: 5rem;
			margin: 0.5em 0;
			transform: rotate(90deg);
		}
	}

	&__quizmiddle,
	&__textcontainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__infolist {
		display: flex;
		justify-content: center;
		list-style-type: none;
		text-align: center;
	}

	&__infoitem {
		margin: 1em;
		padding: 3em 1em;
		width: 350px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
			rgba(0, 0, 0, 0.22) 0px 10px 10px;
		background-color: $item-bg-three;
	}

	&__quizlist {
		display: flex;
		justify-content: center;
		list-style-type: none;
		flex-wrap: wrap;
	}

	&__quizitem {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1em;
		padding: 1em;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
			rgba(0, 0, 0, 0.22) 0px 10px 10px;
		background-color: $item-bg-three;
	}

	&__quiztext {
		padding: 1em 0;
		font-size: 1.8rem;
	}

	&__quizicon {
		width: 40px;
		height: 40px;
		margin-right: 0.25em;
	}

	&__quizcoin {
		font-size: 2.4rem;
	}

	&__arrowcontainer {
		display: flex;
		justify-content: center;
	}

	&__quizbtn {
		display: inline;
		padding: 0.25em 0.5em;
		font-size: 2rem;
		border: none;
		border-radius: 5px;
		color: $white;
		background-color: $item-bg-two;
		cursor: pointer;
		transition: transform 0.5s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__quizcontainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		&--big {
			font-size: 2.4rem;
		}

		&--small {
			font-size: 2rem;
		}
	}

	&__arrow {
		padding: 1em;
		font-size: 3.5rem;
	}

	&__value-pic {
		width: 40px;
	}

	&__input {
		padding: 0.3em;
		font-size: 2rem;
		border: none;
		border-radius: 15px;
		outline: none;
		color: $white;
		background-color: $item-bg-two;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	&__select {
		font-size: 1.8rem;
		text-align: center;
		border: none;
		border-radius: 15px;
		outline: none;
		color: $white;
		background-color: $item-bg-two;
		cursor: pointer;
	}

	&__select {
		margin: 1em;
		padding: 0.25em;
	}

	&__title {
		font-size: 3.2rem;
		text-shadow: 0 0 3px $white;
	}

	&__desc {
		font-size: 2rem;
		text-shadow: 0 0 3px $white;
	}

	&__title,
	&__desc {
		padding: 0.5em;
		text-align: center;
	}

	&__picture {
		width: 100%;
		height: 100%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		text-align: center;
	}

	&__item {
		padding: 1em;
		font-size: 2rem;
	}

	&__icon {
		padding: 1em;
		background-color: $item-bg-two;
		border-radius: 50%;
	}

	&__coins {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		color: $white;
	}

	&__coin {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5em 2em;
		border: 1px solid rgb(0, 0, 0);
		font-size: 1.6rem;

		&-icon {
			width: 35px;
			height: 35px;
			margin-right: 1em;
		}
	}

	&__coin-left,
	&__coin-right {
		display: flex;
		align-items: center;
	}

	&__coin-link {
		padding: 0 1em;
		font-size: 1.6rem;
		text-decoration: none;
		color: $black;
	}

	&__coin-btn {
		margin-left: 1em;
		border-radius: 10px;
		border: none;
		transition: transform 0.5s;

		&:hover {
			transform: scale(1.05);
		}
	}

	&__more {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 68px;
		border: 1px solid rgb(0, 0, 0);
		background-color: $item-bg-two;

		&-link {
			font-size: 2rem;
			text-decoration: none;
			color: $white;
			transition: transform 0.5s;

			&:hover {
				transform: translateY(-2.5px);
			}
		}
	}

	&__cryptolist {
		padding: 4em 0;
		list-style: none;
	}

	&__cryptoitem {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5em;
		font-size: 2.4rem;

		&-icon {
			height: 35px;
			padding: 0 0.25em;
		}

		&-link {
			display: flex;
			text-decoration: none;
			color: $white;
		}
	}
}
