@media (min-width: 576px) {
	.main {
		&__right--exchange {
			flex-direction: row;
			padding-top: 0;
		}

		&__exchange-middle-icon {
			transform: rotate(0deg);
		}

		&__middle {
			flex-direction: row;
			padding: 10em 0;
		}

		&__coin {
			font-size: 2rem;

			&-icon {
				width: 50px;
				height: 50px;
			}

			&-link {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.main {
		&__section {
			&--one {
				flex-direction: row;
			}
		}

		&__left,
		&__right {
			width: 50%;

			&--exchange {
				padding-left: 5em;
			}

			&--gif {
				display: block;
			}
		}

		&__picture {
			width: 100%;
			height: auto;
		}

		&__list {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}

		&__item {
			font-size: 2.5rem;
		}
	}

	.header {
		&__nav-pc {
			display: block;
		}

		&__hamburger {
			display: none;
		}
	}
}

@media (min-width: 1400px) {
	.header {
		position: relative;

		&__container {
			justify-content: center;
		}

		&__nav,
		&__hamburger {
			display: none;
		}

		&__nav-pc {
			display: none;
		}
	}

	.nav {
		display: block;
	}

	.main {
		padding-top: 0;

		&__section {
			&--two {
				flex-direction: row;
			}
		}
	}
}
